attrs==23.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.2
customtkinter==5.2.0
darkdetect==0.8.0
idna==3.4
isodate==0.6.1
lxml==4.9.3
numpy==1.25.1
pandas==2.0.3
platformdirs==3.9.1
pycparser==2.21
PyJWT==2.7.0
PySimpleGUI==4.60.5
python-dateutil==2.8.2
pytz==2023.3
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
simple-salesforce==1.12.4
six==1.16.0
tzdata==2023.3
urllib3==2.0.3
zeep==4.2.1
